body {
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	color: #4b4b4b;
	line-height: 1.8em;
	font-weight:500;
	padding:100px 0;
}
a:hover{
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight:600;
	color:#222222;
}
.container{
    max-width:1170px;
    width:100%;
    margin: 0 auto;
}